header {
  z-index: 2;
  position: sticky;
  top: 0;
  width: 110px;
  background: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  .nav_container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    overflow: hidden;
    align-items: center;
    .logo {
      padding: 1rem;
      font-size: 35px;
      font-weight: 900;
      color: #ff6c5f;
    }
    .menu {
      display: flex;
      flex-direction: column;
      gap: 2.5rem;
      align-items: center;
      .fa-solid {
        font-size: 15px;
        color: #5f608f;
      }
      .fa-regular {
        font-size: 15px;
        color: #5f608f;
      }
    }
    .menu :hover {
      color: #ff6c5f;
      font-size: 26px;
    }
  }
}
